body{
    background-color: rgb(35, 35, 39);
    color: #fff;
}

img{
    height: 300px;
    border-radius: 50%;
}

.profile{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.header{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #fff;
    padding: 20px;
}

i{
    font-size: 30px;
    color: #fff;
}

.typed{
    margin-bottom: 10px;
}

#typed{
    font-size: 20px;
}
 